@media screen and (max-width: 430px) {
    .navbar .navbar-text a {
        display: none;
    }
    .navbar .navbar-text a.icon {
        display: flex;
        padding-right: 35px;
    }
    .navbar .navbar-text.responsive a {
        display: block;
        justify-items: center;
        background-color: rgb(255, 255, 25, 0.3);
    }
    .content {
        background-color: rgb(213, 206, 190, 0.95);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        max-width: 90%;
    }
    .content-text {
        background-color: rgb(263, 26, 190, 0.5);
        border-radius: 16px;
        font-size: 0.5rem;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        max-width: 100%;
        display: block;
    }
    .content-image {
        margin: auto;
        max-width: 100%;
        padding: 10px;
    }
}

@media screen and (min-width: 430px) {
    .navbar .navbar-text.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar .navbar-text.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .navbar .navbar-text.responsive {
        position: relative;
    }
    .content {
        background-color: rgb(213, 206, 190, 0.95);
        border-radius: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        max-width: 90%;
    }
    .content-text {
        background-color: rgb(263, 26, 190, 0.5);
        border-radius: 16px;
        font-size: 0.8rem;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        max-width: 90%;
        display: block;
    }
    .content-image {
        margin: auto;
        max-width: 100%;
        padding: 10px;
    }
}

body,
html {
    font-family: 'Oswald', sans-serif;
    margin: auto;
    position: relative;
    min-height: 100vh;
}

.navbar {
    background: linear-gradient(0.75turn, #3f87a6, #ebf8e1, #f69d3c);
    overflow: auto;
    text-align: center;
    justify-items: center;
}

.navbar .navbar-logo {
    float: left;
    width: 38px;
    padding: 12px 20px;
}

.navbar .navbar-text .icon {
    display: none;
}

.navbar .navbar-text {
    display: inline;
    list-style: none;
    font-weight: bold;
    padding: 22px 0 22px;
    position: absolute;
    right: 0;
}

.navbar .navbar-text a {
    cursor: pointer;
    text-align: right;
    text-decoration: none;
    /* 移除超連結底線 */
    color: inherit;
    /* 移除超連結顏色 */
    font-size: 1.1rem;
    padding: 12px 16px;
    transition: 0.3s;
}

.navbar .navbar-text a:hover {
    background-color: rgba(197, 144, 30);
    padding: 12px 16px;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.herobar-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("./image/bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.herobar-image .herobar-text {
    position: absolute;
    top: 55%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: rgba(197, 144, 30);
    font-size: 5vh;
    font-family: 'Slabo 27px', serif;
}

#content-wrap {
    padding-bottom: 4.5rem;
}

#personal-photo {
    height: auto;
    max-width: 5rem;
}

iframe {
    aspect-ratio: 16 / 9;
    height: auto;
    max-width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    text-align: center;
    padding-bottom: 10px;
    background: rgb(130, 110, 77);
}